<article class="h-entry <% if (item.layout == 'page'){ %>page<% } else { %>post<% } %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <% if (item.photos){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <header>
    <%- partial('post/title') %>
    <% if (item.layout != 'page'){ %><%- partial('post/date') %><% } %>
  </header>
  <div class="e-content entry-content">
    <% if (item.excerpt && index){ %>
      <%- item.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(item.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- item.content %>
    <% } %>
    <% if (item.layout != 'page'){ %>
    <footer class="meta">
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      <% if (theme.disqus_shortname && item.comments){ %>
        <a href="<%- item.permalink %>#disqus_thread" class="comment"><%= __('comment') %></a>
      <% } %>
    </footer>
    <% if (!index){ %>
      <%- partial('post/share') %>
    <% } %>
    <% } %>
  </div>
  <%- partial('comment') %>
</article>
